<!DOCTYPE html>
<html>
	<head>
		<title>Drag & Drop</title>
		<script type="text/javascript" src="angular.js"></script>
		<script type="text/javascript" src="script.js"></script>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		
	</head>
	<body ng-app="myApp">

		<div class="container" ng-controller="myController">
		
			<ul class="list-group" ng-repeat="item in list track by $index" draggrble-container>
					
				<li class="list-group-item bg-danger w-25" draggable-item draggable="true">{{item}}</li>
					
			</ul>

			<br>
			<br>

			<input type="button" value="Listeyi Göster" ng-click="ShowHide()"/>

			<br><br>
			<div ng-show="IsVisible">
					<ul class="list-group" ng-repeat="item in list track by $index" draggrble-container>
					
							<li class="list-group-item bg-dark w-25" draggable-item draggable="true">{{item}}</li>
								
					</ul>
			</div>

		</div>
	</body>
<html>
